# .flake8
[flake8]
select = B,B9,BLK,C,D,DAR,E,F,I,N,RST,S,W
ignore = D205,DAR202,D415,DAR301,E203,E501,RST201,RST203,RST301,W503
max-line-length = 88
max-complexity = 10
docstring-convention = google
per-file-ignores = tests/*:S101
exclude = .nox/*
rst-roles = class,const,func,meth,mod,ref
rst-directives = deprecated
application-import-names = talus_aws_utils,tests
import-order-style = google
